{% extends "base.html" %}

{% block title %}{{ articulo.titulo }}{% endblock %}

{% block content %}
  <article class="bg-surface">
    <h1>{{ articulo.titulo }}</h1>
    <p class="text-white">
      Publicado el {{ articulo.fecha_publicacion|date:"d/m/Y" }}
      {% if articulo.autor %} por {{ articulo.autor.username }}{% endif %}
      en <a href="{% url 'blog_edicion:articulos_por_categoria' articulo.categoria.pk %}">{{ articulo.categoria.nombre }}</a>
    </p>
    <hr>
    {% if articulo.imagen %}
      <img src="{{ articulo.imagen.url }}" class="img-fluid mb-3" alt="{{ articulo.titulo }}">
    {% endif %}
    <div>
      {{ articulo.contenido|linebreaks }}
    </div>
  </article>

  <div class="mt-4">
    <a href="{% url 'home' %}" class="btn btn-primary">Volver al inicio</a>
    {% if user == articulo.autor %}
      <a href="{% url 'blog_edicion:editar_articulo' pk=articulo.pk %}" class="btn btn-primary">Editar Artículo</a>
    {% endif %}
  </div>
{% endblock %}
